.btn_h{
    padding: 1.125rem 1.625rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    height: fit-content;
    color: hsla(328, 100%, 50%, 1);
    font-size: 1rem;
    font-weight: 700;
}


.btn_h{
    background: linear-gradient(145deg, hsla(204, 21%, 67%, 1), rgb(228, 203, 231));
    box-shadow: 0.313rem 0.313rem 0.5rem hsla(0, 0%, 80%, 1), 0.25rem  -0.25rem  0.5rem rgb(172, 110, 179);
}