.feature {}

.feature .box {
    background: linear-gradient(145deg, hsla(204, 21%, 67%, 1), rgb(228, 203, 231));
    box-shadow: 0.313rem 0.313rem 0.5rem hsla(0, 0%, 80%, 1), 0.25rem -0.25rem 0.5rem rgb(172, 110, 179);
    padding: 3.125rem;
    border-radius: 0.5rem !important;
    transition: 0.5s all ease !important;
    cursor: pointer !important;


}



.feature .box .title {
    margin: 20px 0;
    color: hsla(206, 23%, 25%, 1);

}

.feature .box .paraph {
    word-spacing: 4px;
    transition: 0.5s;
}

.feature .box a .arrow_right {
    font-size: 30px;
    margin-top: 20px;
    opacity: 0;
    transition: 0.5s;
}

.feature .box .paraph:hover {
    color: hsla(123, 43%, 100%, 1) !important;
}

.feature .box:hover a .arrow_right {
    opacity: 1;
}