.navbar{
    height: 14vh;
    line-height: 10vh;
    background-color: hsla(0, 0%, 11%, 0.15);
    /* position: sticky;
    top: 0; */
}



.navbar .container{
    padding: 0.8rem;
    
}

.navbar ul li{
    margin-left: 1.875rem;
}

.navbar ul li a{
    font-size: 1rem;
    transition: 0.5s;
    font-weight: 700;
    letter-spacing: 0.063rem;
    color: rgb(58, 122, 200);
}



.navbar ul li a:hover{
    color: hsla(328, 100%, 50%, 1);
}

/* .logo{
    display: flex;
    align-items: center;

} */


.logo img{
    width: 20%;
    cursor:pointer;
}
/* ////////////////////////////////////// */

/* menu for under 768px */
.btn_c{
    font-size: 40px;
    cursor: pointer;
    color: hsla(213, 50%, 30%, 1);
}

.btn_o{
    font-size: 40px;
    cursor: pointer;
    color: hsla(213, 50%, 30%, 1);
}

.open {
    display: none;
}


.header.active{
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 12vh;
    width: 100%;
    transition: 0.5s;
    background-color: hsla(206, 23%, 94%, 1);
    box-shadow: -1px 11px 24px -11px hsla(206, 23%, 1%, 1);
}




@media (max-width: 768px) {
    .navbar{
        height: 13vh;
    }
    .navbar ul{
        padding-top: 30px;
    }
    .mobile_link{
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 0;
        transition: all 0.5s ease-in-out;
        width: 60%;
        height: 100vh;
        background-color: hsla(206, 23%, 88%, 1);
        z-index: 888;
        box-shadow: hsla(206, 23%, 25%, 1) 0 50px 100px -20px, hsla(206, 23%, 25%, 1) 0 30px 60px -30px;
    }

    .navbar ul li {
        width: 100%;
        transition: 0.5s;
        text-transform: uppercase;
        line-height: 70px;
    }

    .navbar .link{
        display: none;
    }

    .close,
    .open {
        position: absolute;
        top: 35px;
        right: 20px;
        color: hsla(328, 100%, 50%, 1);
        display: block;
        font-size: 25px;
        z-index: 999;
    }

    .close{
        right: 45%;
    }

    .navbar.active{
        height: 10vh;
    }
    .logo img{
        width: 15%;
    }

}
/* menu for under 768px */
.demo{
    height: 200vh;
}


/* demo-s */

/* demo-e */