.list_pro_container{
    display: block;
    max-width: 1140px;
    padding: 50px 100px 0 100px;
    width: 100%;
    margin: 50px auto;

}

@media (max-width:1024px){
    .list_pro_container{
    padding: 50px 0 0 0;
    }
}

@media (max-width:768px){
    .list_pro_container{
    padding: 50px 20px 0 20px;
    }
}