@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Gabarito:wght@400;500;600;700;800;900&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  
  font-family: 'Gabarito', cursive ,'Open Sans', sans-serif;
  background-color: hsla(68, 49%, 79%, 1);
}

.container{
  max-width: 95%;
  margin: auto;
}

.dis_flex{
  display: flex;
  justify-content: space-between;
}

.f_flex{
  display: flex;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

button{
  border: none;
  outline: none;
  background-color: none;
}


.btn_shadow{
 padding: 1.125rem 1.563rem;
 border-radius: 0.5rem;
 transition: 0.5s all ease;
 cursor: pointer;
 color: hsla(0, 0%, 8%, 1);
}


.btn_shadow{
  background: linear-gradient(145deg, hsla(204, 21%, 67%, 1), rgb(228, 203, 231));
  box-shadow: 0.313rem 0.313rem 0.5rem hsla(0, 0%, 80%, 1), 0.25rem  -0.25rem  0.5rem rgb(172, 110, 179);;
}

.btn_shadow:hover{
  transform: translateY(-10px);
  color: hsla(0, 100%, 100%, 1);
  background-color: hsla(328, 100%, 50%, 1);
}



